@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
html,
body {
  @apply m-0 p-0 scroll-smooth outline-none dark:bg-dark bg-light dark:text-textLight text-textDark selection:bg-accent selection:text-textLight dark:selection:bg-accentLight;
  -webkit-tap-highlight-color: transparent;
}
#__next {
  min-height: var(--vh, 100vh);
  @apply h-full flex flex-col;
}
a {
  @apply flex text-3xl lg:text-lg font-bold lg:font-normal cursor-pointer;
}

/*SCROLL*/
::-webkit-scrollbar {
  @apply dark:bg-active bg-activeLight w-1;
}
::-webkit-scrollbar-thumb {
  /* Foreground */
  @apply bg-textDark dark:bg-textLight rounded-full;
}

/*BURGER ICON*/
.line {
  @apply stroke-accent dark:stroke-textLight;
  fill: none;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/*MENU*/
nav > .active {
  @apply right-0;
}

/*EFFECTS*/
.link_before {
  @apply relative
        before:w-0 before:h-0.5 before:absolute before:left-0 before:-bottom-1 before:bg-accent before:dark:bg-accentLight before:transition-all before:duration-500 before:rounded-full lg:before:hover:w-full;
}
