@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0 scroll-smooth outline-none text-black selection:bg-primary selection:text-white;
  -webkit-tap-highlight-color: transparent;
}
#__next {
  min-height: 100vh;
  @apply h-full flex flex-col;
}

a {
  @apply flex;
}

.section {
  @apply container pt-10 lg:pt-40 grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12;
}
.section__special {
  @apply relative text-xs lg:text-base font-semibold text-primary before:absolute before:w-5 before:h-5 before:lg:w-7 before:lg:h-7 before:bg-secondary before:-z-10 before:bottom-0 before:-left-3 mb-2 lg:mb-4;
}
.section__header {
  @apply flex gap-1 lg:gap-2 flex-col text-4xl lg:text-5xl font-semibold tracking-tight mb-6 lg:mb-10;
}
.section__subheader {
  @apply flex gap-1 lg:gap-2 flex-col text-2xl lg:text-3xl font-semibold tracking-tight mb-6 lg:mb-10;
}
.section__text {
  @apply text-base lg:text-lg leading-8 md:leading-9 text-disabled mb-6 lg:mb-10;
}

.contact__input {
  @apply outline-primary  bg-gray-50 border border-gray-300 text-sm w-full p-2.5 text-disabled;
}

.link {
  @apply text-3xl lg:text-base font-medium cursor-pointer;
}

.about__left {
  @apply md:items-start pt-40 pb-[120px] md:pr-40 md:py-32 relative after:absolute after:-z-10 after:bg-secondary after:h-full after:w-screen after:top-0 after:md:right-0 after:-ml-5;
}

.about__right {
  @apply flex flex-col py-10 md:my-[60px] items-center justify-center relative after:absolute after:-z-10 after:bg-primary after:w-screen after:h-full after:md:left-0 after:top-0;
}
@layer components {
  .container {
    @apply max-w-full xl:max-w-screen-xl;
  }
}

/*SCROLL*/
::-webkit-scrollbar {
  @apply bg-secondary w-1;
}
::-webkit-scrollbar-thumb {
  /* Foreground */
  @apply bg-primary;
}

/*BURGER ICON*/
.line {
  @apply stroke-primary;
  fill: none;
  stroke-width: 10;
  transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 10;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 10;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 10;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 10;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 10;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 10;
}

/*MENU*/
@media only screen and (max-width: 1023px) {
  menu > div {
    @apply container;
  }
}
header {
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
menu {
  transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
nav > .active {
  @apply right-0;
}

/*EFFECTS*/
.link_before {
  @apply relative z-50 lg:px-5 lg:py-2.5 before:absolute before:flex before:self-center before:-z-10 before:left-0 before:w-0 before:h-full before:bg-secondary before:transition-all before:duration-300 lg:before:hover:w-full before:opacity-0 lg:before:hover:opacity-100;
}
